/* Global styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f9; /* Light grayish-blue background */
  color: #333; /* Darker text for better readability */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden; /* This prevents horizontal scrolling */
  overflow-y: auto; /* This allows vertical scrolling if content height exceeds the viewport */
}

.app {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  border-radius: 15px;
  background-color: white; /* Bright background for the quiz container */
  width: 90%;
  max-width: 600px; /* Limit the width for very wide screens */
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


/* Score styles */
.quiz-container {
  margin: 50px 30px; 
  max-height: 99vh; /* Set a maximum height relative to the viewport */
  overflow-y: auto; /* Add a scrollbar if the content exceeds this height */
  font-weight: 600; 
}

.question-number {
  font-size: 0.9rem;
  margin-top: 5px; /* Adjust as needed to place the text slightly below the top */
}

.results-container {
  margin: 20px 0; /* This gives a margin of 20px to the top and bottom */
  
}


.result-question {
  margin: 20px 0; /* Adding margin to each question result */
  padding: 15px; /* Adding padding for better spacing */
  border: 1px solid #e0e0e0; /* A light border for each question result */
  border-radius: 8px; /* Rounded corners for a soft look */
  
}

/* In App.css */

/* Adjustments for screens smaller than 600px */
@media (max-width: 600px) {
  .quiz-container {
    margin: 30px 10px; /* Reduce margin on small screens */
  }
}



